# IntelliJ IDEA
.idea/
*.iml
out/

# Java
*.class
*.jar
*.war
*.ear

# Spring Boot
target/
*.log

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/
dist/

# Logs
logs/
*.log
*.log.*

# OS-specific
.DS_Store
Thumbs.db